.ui.labeled.button:not(.icon) {
  padding: 0 10px !important;
}

i.icon.report {
  color: black;
  font-size: 18px;
  float: right;
}
i.icon.trash {
  color: red;
  font-size: 18px;
  float: right;
}

i.like.icon,
i.comments.icon {
  font-size: large;
}

i.icon {
  font-size: 0.9em;
}

.ui.button:focus {
  background-color: #e0e1e2 none;
  color: rgba(0, 0, 0, 0.6);
}
