.ui.labeled.button:not(.icon) {
  padding: 0 10px !important;
}

i.icon.report {
  font-size: 20px;
  float: right;
}

i.like.icon,
i.comments.icon {
  font-size: large;
}

i.icon {
  font-size: 0.9em;
}
